/* Global Styles */
/* CSS RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  height: 100vh;
  background: #8c52ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}
