@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");

/* Global Styles */
/* CSS RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  color: white;
}

body {
  width: 100vw;
  height: 100vh;
  background: #8c52ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 4rem;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-weight: 900;
}
