main {
  width: 400px;
  border-radius: 8px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
  transition: width 250ms ease-in-out;
}

main.expanded {
  width: 700px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container button {
  width: 150px;
  background: black;
  color: white;
}

.display {
  background: #f9f9f9;
  height: 120px;
  text-align: right;
  padding: 1rem;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.display p {
  color: #797979;
  font-size: 2.5rem;
}

.display .output {
  font-size: 2rem;
  opacity: 0.75;
}

.display .error {
  font-size: 1rem;
  color: red;
  opacity: 0.75;
}

.keypad {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 400px;
  cursor: pointer;
  user-select: none;
  /* background-image: url("./bg.jpg"); // use this for rendering images as background */
}

.btn {
  width: 100px;
  height: 25%;
  display: grid;
  place-items: center;
  color: #f9f9f9;
  font-size: 1.25rem;
  background: #424242;
}

.btn.clicked,
.btn:hover {
  opacity: 0.7;
}

.btn:active {
  border: solid 1px dimgray;
}

[data-input="AC"],
[data-input="CE"],
[data-input="/"],
[data-input="*"],
[data-input="+"],
[data-input="-"] {
  background: #626262;
  height: calc(100% / 6);
  color: #c7c8c8;
}

[data-input="sin"],
[data-input="ln"],
[data-input="π"],
[data-input="("],
[data-input="cos"],
[data-input="log"],
[data-input="e"],
[data-input=")"],
[data-input="tan"],
[data-input="!"],
[data-input="^"],
[data-input="√"] {
  color: #465d55;
  background: #1ae8b5;
}
